# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules

# Build output
dist
build

# Local environment
.env
.env.local
.env.*.local

# Editor and OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

# Test and coverage
coverage
